<p xmlns="http://www.w3.org/1999/html"><strong>Title:</strong> {{ title }}</p>

<p>{{ content | raw }}</p>

<strong>Author:</strong> {{ author }} <br/>
<strong>Comments:</strong> {{ comments }} <br/>
<strong>Posted:</strong> {{ created }} <br/>
<strong>URL:</strong> {{ url }} <br/>

<br />

<hr>
Sent using murrion/php_jobs_on_reddit.